#home {
    padding: 32px;

    .text-value {
        max-width: 100px;
        width: 100%;
        display: inline-block;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 8px;
        margin-left: 8px;
    }

    .line-chart-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        --line-container-width: 60%;
        --card-container-width: 40%;

        .card {
            width: calc(var(--card-container-width) - 48px);
            h2 {
                margin-bottom : 36px;
            }
            p {
                margin-bottom : 36px;
                line-height: 1;
            }
        }

        .line-chart-container {
            width: var(--line-container-width);
            height: 400px;
           
            .line-chart {
                max-height: 350px !important;
            }
        }

        @media (max-width: 820px) {
            --line-container-width: 100%;
            --card-container-width: 100%;
        }
    }
}